@{
    var _Categories = ViewBag.Categories;
}

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Category Name: @_Categories.Name</h5>
        <h6 class="card-subtitle mb-2 text-muted">Category Description: @_Categories.Description</h6>
        <a href="~/DCategory/Index" class="card-link">Back</a>
    </div>
</div>
